@font-face {
  font-family: mont;
  src: url("../fonts/mont/mont-heavy.ttf") format("truetype");
}

@font-face {
  font-family: lato;
  src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: inter;
  font-weight: 400;
  src: url("../fonts/inter/Inter-Regular.otf") format("opentype");
}
@font-face {
  font-family: inter;
  font-weight: 500;
  src: url("../fonts/inter/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: inter;
  font-weight: 600;
  src: url("../fonts/inter/Inter-SemiBold.otf") format("opentype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  background: rgb(245, 247, 250);
}

.navbar{
  height: 100%;
  min-height: 100vh;
  font-family: inter;
}

.navbar__img,
.navbar__head {
  display: inline;
  vertical-align: middle;
}

.navbar {
  float: left;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  width: 250px;
  max-width: 250px;
  min-width: 220px;
  border-right: 1px solid #E6EFF5;
}

.navbar__img {
  padding: 30px 0px 30px 40px;
}

.navbar__head {
  font-family: mont;
  font-size: 1.5rem;
  color: rgb(52, 60, 106);
  font-weight: 900;
  padding-right: 20px;
}

.navbar__list {
  margin-top: 14px;
  list-style: none;
  /* padding-right: 38px; */
}

.navbar__icon {
  font-size: 1.5rem;
  margin-right: 24px;
}

.navbar__item {
  display: block;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: rgb(177, 177, 177);
  padding: 16px 32px 16px 36px;
  transition: 0.25s easy;
  border-left: 6px solid transparent;
}

.navbar__item--active {
  color: rgb(24, 20, 243);
  fill: rgb(24, 20, 243);
  border-left-color: #1814f3;
}

.main-content{
  width: calc(100% - 250px);
  font-family: inter;
  display: flow-root;
}

.head-sec{
  position: sticky;
  top: 0;
  z-index: 10;
  display: table;
  width: 100%;
  background: #fff;
  padding: 25px 40px 25px 40px;
  border-bottom: 1px solid #E6EFF5;
}

.head-sec__title{
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  font-size: 1.75rem;
  font-weight: 600;
  color: rgb(52, 60, 106);
}

.head-sec__option{
  display: table-cell;
  text-align: right;
  vertical-align: middle;
}

.head-sec__search-label{
  display: none;
}

.head-sec__list, .head-sec__search-bar, .head-sec__item{
  display: inline-block;
  vertical-align: middle;
}

.head-sec__search-bar {
  position: relative;
}

.head-sec__search-icon,
.head-sec__search-box {
  display: inline-block;
  vertical-align: middle;
}

.head-sec__search-box {
  padding: 16px 50px 16px 60px;
  border-radius: 40px;
  background: rgb(245, 247, 250);
  border: none;
}

.head-sec__search-box::placeholder {
  color: rgb(139, 163, 203);
  font-size: 14px;
  font-weight: 400;
}

.head-sec__search-icon {
  position: absolute;
  padding: 14px 0px 0px 24px;
  color: rgb(113, 142, 191);
  font-size: 1.25rem;
  pointer-events: none;
}

.head-sec__item{
  list-style: none;
  margin-left: 20px;
}

.head-sec__link {
  text-decoration: none;
}

.head-sec__icon{
  border-radius: 50%;
  color: rgb(113, 142, 191);
  font-size: 1.5rem;
  padding: 10px 12px 12px 10px;
  background: rgb(245, 247, 250);
}

.icon-notification {
  color: rgb(254, 92, 115);
}

.main-content__wrapper{
  max-width: 1190px;
  margin: 0 auto;
  padding: 0px 40px 30px 40px;
  padding-bottom: 30px;
}

.card__title,
.statistics__title,
.cards__list--title,
.add-card__title,
.card-settings__title{
  color: rgb(51, 59, 105);
  font-size: 1.375rem;
  font-weight: 600;
  margin: 20px 0px;
}

.cards-scroll {
  max-width: 1110px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.card__wrapper{
  max-width: 1110px;
  white-space: nowrap;
  overflow-x: auto;
  font-size: 0px;
}

.card__card-layer{
  width: 350px;
  display: inline-block;
}

.card__card-layer--one {
  /* float: left; */
  border-radius: 25px;
  background: linear-gradient(
    107deg,
    rgb(45, 96, 255) 2.61%,
    rgb(83, 155, 255) 101.2%
  );
  margin-left: 0px;
}

.card__card-layer--two {
  margin-left: 30px;
  border-radius: 25px;
  background: linear-gradient(
    107deg,
    rgb(76, 73, 237) 2.61%,
    rgb(10, 6, 244) 101.2%
  );
}

.card__card-layer--three {
  /* float: right; */
  margin-left: 30px;
  border-radius: 25px;
  border: 1px solid rgb(223, 234, 242);
  background: rgb(255, 255, 255);
  color: rgb(52, 60, 106);
}

.card__layer--one{
  padding: 24px 24px 30px 24px;
}

.card__balance,
.card__chip,
.card__holder,
.card__validity {
  display: inline-block;
  vertical-align: middle;
  font-family: lato;
}

.card__balance,
.card__balance-amount,
.card__holder-name,
.card__valid-date,
.card__number {
  color: rgb(255, 255, 255);
}

.card__balance {
  font-size: 0.75rem;
}

.card__balance-amount {
  display: block;
  font-size: 1.25rem;
  font-weight: 600;
}

.card__chip {
  float: right;
}

.card__innerlayer--two{
  margin-top: 30px;
}


.card__holder,
.card__validity {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.75rem;
  font-weight: 400;
}

.card__holder,
.card__validity {
  width: 50%;
}

.card__holder-name,
.card__valid-date {
  font-size: 0.875rem;
  font-weight: 600;
}

.card__holder-name {
  max-width: 90px;
  overflow-wrap: break-word;
  white-space: normal;
  display: block;
}

.card__valid-date {
  display: block;
}

.card__layer--two {
  display: flow-root;
  padding: 22px 24px 22px 26px;
  bottom: 0px;
  border-radius: 0px 0px 25px 25px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.card__number {
  font-size: 1.375rem;
  font-weight: 600;
  float: left;
}

.card__icon {
  position: relative;
  float: right;
  width: 44px;
  height: 30px;
}

.card__icon--dot1,
.card__icon--dot2 {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.card__icon--dot2 {
  right: 0;
}

.card__icon--black {
  background: rgba(145, 153, 175, 0.5);
}

.card__holder--third,
.card__validity--third,
.card__balance--third {
  color: rgb(113, 142, 191);
}

.card__layer--black {
  border-top: 1px solid rgb(223, 234, 242);
}

.card__holder-name--third,
.card__valid-date--third,
.card__balance-amount--third,
.card__number--third {
  color: rgb(52, 60, 106);
}

.statistics,
.cards__list-sec{
  display: inline-block;
  vertical-align: middle;
}

.statistics,
.card-settings{
  width: 100%;
  max-width: 350px;
  min-width: 330px;
}

.statistics__box{
  margin-top: 20px;
  background: rgb(255, 255, 255);
  border-radius: 24px;
  padding: 28px 60px 20px 60px;
}

.statistics__progress-bar {
  text-align: center;
  margin-bottom: 15px;
}

.statistics__bank-names{
  display: table;
  width: 100%;
}

.statistics__bankname-col{
  display: table-cell;
  vertical-align: middle;
}

.statistics__bankname-col:last-child{
  text-align: right;
}

.statistics__bankname:first-child {
  margin-bottom: 14px;
}

.statistics__points {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background: rgb(76, 120, 255);
  border-radius: 50%;
}

.statistics__points--pink {
  background: rgb(255, 130, 172);
}

.statistics__points--green {
  background: rgb(22, 219, 204);
}

.statistics__points--yellow {
  background: rgb(255, 187, 56);
}

.statistics__bankname {
  color: rgb(113, 142, 191);
  font-size: 0.875rem;
  font-weight: 500;
}

.cards__list-sec,
.add-card{
  width: 100%;
  max-width: 730px;
  min-width: 325px;
}

.cards__list-sec{
  float: right;
}

.cards__list{
    overflow-y: auto;
    white-space: nowrap;
    max-height: 310px;
}

.cards-list__row{
  display: table;
  width: 100%;
  padding: 22px 10px 22px 16px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  margin-top: 20px;
}

.cards-list__row:first-child{
  margin-top: 0px;
}

.cards-list__item{
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
}

.cards-list__item:first-child .icon-credit {
  font-size: 1.625rem;
  border-radius: 20px;
  padding: 14px;
}

.cards-list__item--blue .icon-credit {
  background: rgb(231, 237, 255);
  color: rgb(57, 106, 255);
}

.cards-list__item--pink .icon-credit {
  color: rgb(255, 130, 172);
  background: rgb(255, 224, 235);
}

.cards-list__item--yellow .icon-credit {
  color: rgb(255, 187, 56);
  background: rgb(255, 245, 217);
}

.cards__list-field{
  color: rgb(35, 35, 35);
  font-size: 1rem;
  font-weight: 500;
}

.cards__list-field-value{
  display: block;
  color: rgb(113, 142, 191);
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 7px;
}

.cards__list-link {
  text-decoration: none;
  color: rgb(24, 20, 243);
  font-size: 0.875rem;
}

.add-card,
.card-settings{
  display: inline-block;
  vertical-align: middle;
}

.add-card__form-group{
  border-radius: 24px;
  padding: 26px 30px 40px 30px;
  background: rgb(255, 255, 255);
}

.add-card__text-group{
  max-width: 630px;
  overflow-wrap: break-word;
}

.add-card__text{
  color: rgb(113, 142, 191);
  font-size: 1rem;
  line-height: 28px;
}

.add-card__input-group {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.add-card__input-group:nth-child(2) {
  float: right;
}

.add-card__input-inner-group{
  margin-top: 24px;
}

.add-card__label {
  color: rgb(35, 35, 35);
  font-size: 1rem;
  font-weight: 400;
}

.add-card__input-field {
  display: block;
  margin-top: 10px;
  padding: 16px 0px 16px 20px;
  border-radius: 14px;
  border: 1px solid rgb(223, 234, 242);
  width: 90%;
}

.add-card__input-field::placeholder {
  color: rgb(113, 142, 191);
  font-size: 15px;
  font-weight: 400;
}

.add-card__btn {
  display: block;
  margin-top: 30px;
  border-radius: 9px;
  background: rgb(24, 20, 243);
  padding: 14px 39px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.card-settings{
  float: right;
}

.card-settings__sec{
  background: rgb(255, 255, 255);
  text-align: left;
  padding: 38px 48px 38px 30px;
  border-radius: 24px;
}

.card-settings__item {
  cursor: pointer;
  margin-top: 20px;
}

.card-settings__item:first-child{
  margin-top: 0px;
}


.card-settings__icon,
.card-settings__text-group {
  display: inline-block;
  vertical-align: middle;
}

.card-settings__icon {
  padding: 14px 16px 14px 16px;
  background: rgb(255, 245, 217);
  text-align: center;
  border-radius: 18px;
  margin-right: 10px;
}

.card-settings__icon .icon-credit {
  color: rgb(255, 187, 56);
  font-size: 1.5rem;
}

.card-settings__icon--purple {
  background: rgb(231, 237, 255);
  color: rgb(57, 106, 255);
  font-size: 1.5rem;
}

.card-settings__icon--pink {
  background: rgb(255, 224, 235);
  font-size: 1.5rem;
  color: rgb(255, 130, 172);
}

.card-settings__icon--green {
  background: rgb(220, 250, 248);
  font-size: 1.5rem;
  color: rgb(22, 219, 204);
}

.card-settings__text--two{
  display: block;
  color: rgb(113, 142, 191);
  font-size: 0.875rem;
  font-weight: 400;
  margin-top: 6px;
}

@media(max-width:1280px){
  /* .card-list__item--hide{
    display: none;
  } */
  .cards__list-sec,
  .card-settings{
    float: left;
  }
}

@media(max-width:768px){
  .navbar{
    display: none;
  }
  .main-content{
    width: 100%;
  }
  .head-sec__list{
    display: none;
  }
}
