@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Medium.woff") format("truetype");
}

@font-face {
  font-family: mont;
  src: url("../fonts/mont-heavy.ttf") format("truetype");
}

@font-face {
  font-family: lato;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: inter-regular;
  src: url("../fonts/Inter-Regular.otf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: rgb(245, 247, 250);
}

.credit-card-page {
  height: 100%;
}

.credit-card-page-div {
  display: inline-block;
  vertical-align: top;
  /* height: 100%; */
}

.navbar-div {
  border-right: 1px solid rgb(230, 239, 245);
}

.navbar-main-div {
  width: 250px;
  position: fixed;
  height: 100%;
  border-right: 1px solid rgb(230, 239, 245);
  background: #fff;
}

.navbar-list {
  margin-top: 14px;
  /* padding-right: 38px; */
}

.navbar-items-allign {
  display: inline-block;
  vertical-align: middle;
}

.icon-img-div {
  font-size: 25px;
  margin-right: 26px;
}

.navbar-items {
  /* margin-top: 39px; */
  display: block;
  text-decoration: none;
  font-family: inter-regular;
  font-size: 18px;
  color: rgb(177, 177, 177);
  font-weight: 500;
  padding: 17px 3px 17px 37px;
  transition: 0.25s easy;
  border-left: 6px solid transparent;
}

.navbar-items:hover svg path,
.navbar-items:hover {
  color: rgb(24, 20, 243);
  fill: rgb(24, 20, 243);
  border-left-color: #1814f3;
}

.logo-name {
  font-family: mont;
  font-size: 25px;
  color: rgb(52, 60, 106);
  font-weight: 900;
  padding-right: 19px;
}

.logo-img {
  padding: 33px 0px 31px 47px;
}

.navbar-main-logo {
  display: inline;
  vertical-align: middle;
  /* padding: 33px 0px 31px 0px; */
}

.navbar-items2 {
  /* margin-top:39px; */
}

.main-area-div {
  /* position: static; */
  width: calc(100% - 250px);
  /* width: 100%; */
  height: 100%;
  margin-left: 250px;
  margin-right: auto;
  text-align: center;
  /* background: rgb(245, 247, 250); */
  border-left: 1px solid rgb(230, 239, 245);
}

.main-area-head {
  color: rgb(52, 60, 106);
  font-family: Inter;
  font-size: 28px;
  margin-left: 40px;
  /* text-align: left; */
  /* float: left; */
}

.main-area-top-nav {
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(230, 239, 245);
  padding: 33px 0px 32px 0px;
  position: relative;
  text-align: left;
}

.main-area-side {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  margin-right: 20px;
}

.main-area-side-div {
  display: inline-block;
  vertical-align: middle;
}

.main-area-top-nav-div {
  display: inline-block;
  vertical-align: middle;
}

.search-bar {
  position: relative;
}

.search-input {
  border-radius: 40px;
  background: rgb(245, 247, 250);
  box-sizing: border-box;
  border: none;
  padding: 16px 43px 16px 60px;
}

.search-input::placeholder {
  color: rgb(139, 163, 203);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.icon-magnifying {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  color: rgb(113, 142, 191);
  font-size: 20px;
}

.settings-a {
  border-radius: 50%;
  background: rgb(245, 247, 250);
  margin-left: 30px;
  text-decoration: none;
  padding: 12px 13px 13px 12px;
}

.icon-settings-1 {
  display: block;
  color: rgb(113, 142, 191);
  font-size: 25px;
}

.notification-a {
  margin-left: 30px;
  padding: 12px 13px 13px 12px;
  border-radius: 50%;
  background: rgb(245, 247, 250);
  text-decoration: none;
}

.icon-notification {
  font-size: 25px;
  color: rgb(254, 92, 115);
}

.profile-a {
  margin-left: 30px;
  border-radius: 50%;
  background: rgb(245, 247, 250);
  text-align: center;
  padding: 14px 15px 15px 14px;
}

.profile-icon {
}

.profile-a svg path {
  fill: black;
}

.credit-card-my-cards {
  /* background: rgb(245, 247, 250); */
  padding-bottom: 30px;
  display: inline-block;
  /* text-align: left; */
}

.credit-cards-head {
  color: rgb(51, 59, 105);
  padding: 20px 0px 20px 0px;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

.card1 {
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
  position: relative;
  border-radius: 25px;
  background: linear-gradient(
    107deg,
    rgb(45, 96, 255) 2.61%,
    rgb(83, 155, 255) 101.2%
  );
}

.card2 {
  margin-left: 30px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 25px;
  background: linear-gradient(
    107deg,
    rgb(76, 73, 237) 2.61%,
    rgb(10, 6, 244) 101.2%
  );
  font-size: 0px !important;
}

.card3 {
  margin-left: 30px;
  width: 350px;
  height: 225px;
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
  position: relative;
  border-radius: 25px;
  border: 1px solid rgb(223, 234, 242);
  background: rgb(255, 255, 255);
}

.cards-row1 {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0px 40px 0px 40px;
  text-align: left;
}

.card-layer1 {
  padding-top: 25px;
  padding-left: 26px;
  padding-right: 25px;
}

.card-layer-one {
  display: inline-block;
}

.bal-txt {
  padding-right: 202px;
  color: rgb(255, 255, 255);
  font-family: lato;
  font-size: 12px;
}

.bal-amt {
  display: block;
  color: rgb(255, 255, 255);
  font-family: lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.chip-img-div {
  float: right;
}

.card-layer2 {
  padding: 29px 97px 30px 26px;
}

.card-layer-two {
  display: inline-block;
  vertical-align: middle;
}

.card-holder-txt {
  padding-right: 67px;
  color: rgba(255, 255, 255, 0.7);
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.holder-name {
  overflow-wrap: break-word;
  white-space: normal;
  display: block;
  color: rgb(255, 255, 255);
  font-family: lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.valid-thru-txt {
  float: right;
  color: rgba(255, 255, 255, 0.7);
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.valid-date {
  display: block;
  color: rgb(255, 255, 255);
  font-family: lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.acc-no-div {
  bottom: 0px;
  border-radius: 0px 0px 25px 25px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.acc-no {
  padding: 22px 26px;
  color: rgb(255, 255, 255);
  font-family: lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

.card-icon {
  float: right;
  width: 44px;
  height: 30px;
}

.circle-span-1 {
  position: absolute;
  width: 30px;
  height: 30px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.circle-span-2 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  float: right;
  background: rgba(255, 255, 255, 0.5);
}

.circle-span-3 {
  background: rgba(145, 153, 175, 0.5);
}

.bal-txt-third {
  color: rgb(113, 142, 191);
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.bal-amt-third {
  display: block;
  color: rgb(52, 60, 106);
  font-family: lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.card-holder-txt-third {
  color: rgb(113, 142, 191);
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.holder-name-third {
  color: rgb(52, 60, 106);
  display: block;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.valid-thru-txt-third {
  float: right;
  color: rgb(113, 142, 191);
  font-family: lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.valid-date-third {
  display: block;
  color: rgb(52, 60, 106);
  font-family: lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.acc-no-div-third {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 22px 36px;
  border-radius: 0px 0px 25px 25px;
  border-top: 1px solid rgb(223, 234, 242);
}

.acc-no-third {
  color: rgb(52, 60, 106);
  width: 100%;
  font-family: lato;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
}

.cards-row2-div {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  text-align: left;
  /* padding-right: 20px; */
}

.cards-row2-div1-box {
  background: rgb(255, 255, 255);
  position: relative;
  border-radius: 25px;
  /* margin-left: 40px; */
}

.progress-bar {
  text-align: center;
  padding: 30px 77px 0px 85px;
}

.pt-circle {
  display: inline-block;
  font-size: 0px;
  width: 15px;
  height: 15px;
  background: rgb(76, 120, 255);
  border-radius: 50%;
}

.pink {
  background: rgb(255, 130, 172);
}

.green {
  background: rgb(22, 219, 204);
}

.yellow {
  background: rgb(255, 187, 56);
}

.bank-name {
  color: rgb(113, 142, 191);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.progress-bank-names {
  padding: 15px 53px 28px 50px;
}

.progress-bank-name-col {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.progress-bank-name-col1 {
  padding-right: 48px;
}

.progress-bank-name-col2 {
  float: right;
}

.bank-name2 {
  margin-top: 15px;
}

.cards-list {
  margin-left: 30px;
  overflow: scroll;
  white-space: nowrap;
}

.card-list-row {
  padding: 15px 30px 15px 15px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  position: relative;
}

.credit-logo1 {
  border-radius: 20px;
  background: rgb(231, 237, 255);
  font-size: 0px;
  padding: 17px;
}

.credit-logo1 .icon-credit {
  color: rgb(57, 106, 255);
  position: relative;
  font-size: 26px;
}

.credit-logo-pink {
  background: rgb(255, 224, 235);
}

.credit-logo-pink .icon-credit {
  color: rgb(255, 130, 172);
}

.credit-logo-yellow {
  background: rgb(255, 245, 217);
}

.credit-logo-yellow .icon-credit {
  color: rgb(255, 187, 56);
}

.card-list-div {
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
}

.card-div {
  margin-left: 15px;
  font-size: 0px;
}

.card-div1 {
  margin-left: 44px;
}

.card-div2 {
  margin-left: 34px;
  font-size: 0px;
}

.card-p {
  color: rgb(35, 35, 35);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.card-block {
  display: block;
  color: rgb(113, 142, 191);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-top: 7px;
  font-family: Inter;
}

.card-a {
  text-decoration: none;
  color: rgb(24, 20, 243);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.card-list-row2 {
  margin-top: 20px;
}

.cards-row3-div {
  display: inline-block;
  vertical-align: top;
}

.add-new-card-div {
  text-align: left;
}

.add-new-card-p {
  color: rgb(113, 142, 191);
  font-family: inter-regular;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
}

.add-new-card-div-p {
  max-width: 633px;
  overflow-wrap: break-word;
  padding-right: 37px;
}

.add-new-card-form {
  margin-top: 30px;
}

.add-new-card-form-div {
  display: inline-block;
  vertical-align: middle;
}

.add-new-card-input {
  display: block;
  margin-top: 11px;
  padding: 16px 157px 16px 20px;
  border-radius: 15px;
  border: 1px solid rgb(223, 234, 242);
}

.add-new-card-label {
  color: rgb(35, 35, 35);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.add-new-card-inp2 {
  margin-top: 22px;
}

.add-new-card-form-div2 {
  margin-left: 30px;
}

.add-new-card-div1 {
  border-radius: 20px;
  padding: 27px 30px 40px;
  background: rgb(255, 255, 255);
  /* margin-left: 40px; */
}

.add-new-card-input::placeholder {
  color: rgb(113, 142, 191);
  font-family: Inter-regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.add-new-card-button {
  display: block;
  margin-top: 30px;
  border-radius: 9px;
  background: rgb(24, 20, 243);
  padding: 14px 39px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.card-settings-inner-div {
  display: inline-block;
  vertical-align: middle;
}

.card-settings-inner-div-p {
  margin-left: 20px;
  color: rgb(35, 35, 35);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  text-align: left;
}

.card-settings-inner-div-span {
  display: block;
  color: rgb(113, 142, 191);
  font-family: Inter-regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  margin-top: 7px;
}

.card-settings-item-icon-div {
  padding: 18px 17px 17px 18px;
  background: rgb(255, 245, 217);
  text-align: center;
  border-radius: 20px;
}

.card-settings-item-icon-div .icon-credit {
  color: rgb(255, 187, 56);
  font-size: 25px;
}

.card-settings {
  background: rgb(255, 255, 255);
  text-align: left;
  padding: 30px 49px 30px 30px;
  margin-left: 30px;
  border-radius: 25px;
  height: 440px;
}

.card-settings-item-row {
  margin-top: 20px;
}

.add-new-card-number {
}

.settings-icon-div-puple {
  background: rgb(231, 237, 255);
  color: rgb(57, 106, 255);
  font-size: 25px;
}

.settings-icon-div-pink {
  background: rgb(255, 224, 235);
  font-size: 25px;
  color: rgb(255, 130, 172);
}

.settings-icon-div-green {
  background: rgb(220, 250, 248);
  font-size: 25px;
  color: rgb(22, 219, 204);
}

.credit-cards-sec-head {
  margin-left: 30px;
  text-align: left;
}
